/* Adicionando estilos para os cards */
.card-container {
    display: flex;
    justify-content: center; /* centraliza os cards horizontalmente */
    margin-top: 50px; /* margem do topo */
}

.card {
    width: 300px;
    height: auto; /* altura ajustável */
    margin: 0 50px; /* distância entre os cards */
    background-color: #1d1d1d; /* cor de fundo alterada */
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0px 10px 10px rgb(73, 70, 92);
    transition: 0.5s;
    overflow: hidden; /* evitar vazamento de conteúdo */
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); /* sombra ligeiramente mais escura */
}

.top {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.circle {
    padding: 0 4px;
}

.circle2 {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 5px;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.header {
    margin: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #292929; /* cor de fundo do cabeçalho alterada */
}

#title2 {
    color: #ffffff; /* cor do título alterada para branco */
    padding-left: 10px; /* pequeno ajuste na margem esquerda */
    font-size: 15px;
}

.code-container {
    text-align: center;
    padding: 10px; /* adicionei um pequeno preenchimento */
}

#code {
    width: 250px; /* reduzi um pouco a largura do código */
    height: 300px; /* ajustei a altura para se adequar melhor ao conteúdo */
    resize: none;
    background-color: #333; /* cor de fundo do código alterada */
    border-radius: 5px;
    border: none;
    color: #ffffff; /* cor do texto alterada para branco */
    padding: 10px;
}

#code:focus {
    outline: none !important;
}

/* Estilização para o título */
h1 {
    color: #ffffff; /* cor do texto alterada para branco */
    text-align: center; /* centraliza o texto */
    font-size: 24px; /* tamanho do texto */
    margin-top: 20px; /* margem superior */
    padding: 10px; /* adicionei um pequeno preenchimento */
    background-color: #1d1d1d; /* cor de fundo alterada */
    border-radius: 8px; /* bordas arredondadas */
    box-shadow: 0px 10px 10px rgb(73, 70, 92); /* sombra */
    width: 200px; /* largura do título */
    margin-left: auto; /* centraliza horizontalmente */
    margin-right: auto; /* centraliza horizontalmente */
}